<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>authServlet</servlet-name>
        <servlet-class>controllers.authServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bookServlet</servlet-name>
        <servlet-class>controllers.bookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>enseignantServlet</servlet-name>
        <servlet-class>controllers.enseignantServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>etudiantServlet</servlet-name>
        <servlet-class>controllers.etudiantServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reservationServlet</servlet-name>
        <servlet-class>controllers.reservationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteBook</servlet-name>
        <servlet-class>controllers.deleteBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>homeServlet</servlet-name>
        <servlet-class>controllers.homeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminServlet</servlet-name>
        <servlet-class>controllers.adminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteUser</servlet-name>
        <servlet-class>controllers.deleteUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateBook</servlet-name>
        <servlet-class>controllers.updateBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutServlet</servlet-name>
        <servlet-class>controllers.logoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reserveBook</servlet-name>
        <servlet-class>controllers.reserveBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cancelReserve</servlet-name>
        <servlet-class>controllers.cancelReserve</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>borrowBook</servlet-name>
        <servlet-class>controllers.borrowBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>borrowingServlet</servlet-name>
        <servlet-class>controllers.borrowingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>returnBook</servlet-name>
        <servlet-class>controllers.returnBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dashboardServlet</servlet-name>
        <servlet-class>controllers.dashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changePassword</servlet-name>
        <servlet-class>controllers.changePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateProfile</servlet-name>
        <servlet-class>controllers.updateProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchBook</servlet-name>
        <servlet-class>controllers.searchBook</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>authServlet</servlet-name>
        <url-pattern>/authServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bookServlet</servlet-name>
        <url-pattern>/bookServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>enseignantServlet</servlet-name>
        <url-pattern>/enseignantServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>etudiantServlet</servlet-name>
        <url-pattern>/etudiantServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>reservationServlet</servlet-name>
        <url-pattern>/reservationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteBook</servlet-name>
        <url-pattern>/deleteBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>homeServlet</servlet-name>
        <url-pattern>/homeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminServlet</servlet-name>
        <url-pattern>/adminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteUser</servlet-name>
        <url-pattern>/deleteUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateBook</servlet-name>
        <url-pattern>/updateBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutServlet</servlet-name>
        <url-pattern>/logoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>reserveBook</servlet-name>
        <url-pattern>/reserveBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cancelReserve</servlet-name>
        <url-pattern>/cancelReserve</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>borrowBook</servlet-name>
        <url-pattern>/borrowBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>borrowingServlet</servlet-name>
        <url-pattern>/borrowingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>returnBook</servlet-name>
        <url-pattern>/returnBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dashboardServlet</servlet-name>
        <url-pattern>/dashboardServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changePassword</servlet-name>
        <url-pattern>/changePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateProfile</servlet-name>
        <url-pattern>/updateProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchBook</servlet-name>
        <url-pattern>/searchBook</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
